.pagePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0px 11.11% 0px 11.11%;
}

.presentationContent {
    display: flex;
}

.articleFulano{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asideFulano{
    display: flex;
}

.divFulano{
   display: flex;
   gap: 9px;
}

.imgAstrounats {
    display: 'flex';
    gap: '32px';
}

.imgAstrounats img {
    max-width: 544px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

@media (max-width: 1270px) {
    .post1{
        display: none;
    }
}

@media (max-width: 864px) {
    .post2{
        display: none;
    }
    .arrows{
        display: none;
    }
}

@media (max-width: 1267px) {
    .presentationContent{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 570px) {
    .astronautApresentation{
        max-width: 544px;
        width: 100%;
    }
}