.lancamento-page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.informacoes-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    margin-left: 40px;
}

.informacoes-movie h1{
    text-align: center;
    font-size: 48px;
    padding-bottom: 40px;
}

.informacoes-movie h5{
    color: gray;
}

.informacoes-movie p{
    color: gray;
    text-align: justify;
    font-weight: 300;
}

.image-lancamento{
    width: auto;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

@media (max-width: 768px){

    .lancamento-page{
        flex-direction: column-reverse;
    }

    .image-lancamento{
        width: 100%;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

}