.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
    min-width: 250px;
    padding: 1rem 0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form input{
    width: 70%;
    height: 50px;
    border: 1px solid #0A3871;
    border-radius: 20px;
    padding: .3rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button{
    background-color: #0A3871;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
    margin: 0.5rem;
    width: 60%;
    height: 60px;
    transition: transform 0.2s;
    min-width: 150px;
}

.button:hover{
    transform: scale(1.1);
}

.error{
    background-color: #c94b4b;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: .9rem;
    line-height: 1.2rem;
    padding: .5rem 1rem;
    text-align: left;
}

.img{
    fill: #fff;
}
