.appe{
    background-color: var(--background-color);
    color: var(--letter-colortwo);
    width: 100%;
    height: 200vh;
    transition: background-color 250ms ease-in-out;

}

.icone{
    color: var(--letter-colorlink);
}

.appe a{
    color: var(--letter-colorlink);
    text-decoration: none;
}

.appe h2{
    color: var(--letter-colorone);
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    align-items: center;
    padding: 30px 87px 30px 87px;
    box-shadow: 5px 5px 5px 5px var(--shadow-color);

}

nav ul li{
    display: inline-flex;
    padding-right: 20px;
    align-items: center;
    
}

nav ul li h2{
    padding-right: 20px;
}


/* --------- apresentação ------------ */
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.imgperfil{
    padding-top: 50px;


}
.apresentacao h2{
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 50px;
}


.quebra_de_texto_um{
    width: 20%;
    height: 1px;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: var(--letter-colorone);
}


.available {
    display: flex;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
    background-color: var(--available-color);
    width: 60%;
    border-radius:5px;

}

.available p {
    margin-left: 10px;
    align-self: center;
    
}

.quebra_de_texto_dois{
    width: 45%;
    height: 1px;
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 70px;
    background-color: var(--letter-colorone);
}

.titulo_projetos{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 40%;
    gap: 30px;
    margin-bottom: 50px;
}

.projeto_um{
    display: flex;
    width: 40%;
    gap: 30px;
    margin-bottom: 50px;

}

.projeto_dois{
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    gap: 30px;
}

.projeto_img{
    border: 3px solid var(--available-color);
    border-radius: 10px;
}