@font-face {
    font-family: 'Inter' ;
    src: url("./components/Inter/static/Inter-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:#F3F5FC;
}

.elementos-forca{
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 2rem;
    font-family: "Inter";
}

.botoes-pag3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.placar{
    color: #0A3871;
    font-size: 30px;
}

@media screen and (max-width: 1010px){
    .botoes-pag3{
        display: flex;
        flex-direction: column;
    }
    
    .elementos-forca{
        margin-top: 50px;
    }
    
}