.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    font-family: 'Be Vietnam Pro';
    width: 100%;
    background-color: #f0ddfc;
    padding: 30px;

}

.esquerdo {
    width: 40%;
    font-size: 48px;
    text-align: justify;
    border-radius: 30px;
    animation: fadeIn 2s ease;
}

.esquerdo h1{
    font-family: "Indie Flower", cursive;
    font-style: italic;
    color: var(--titulo-autor);
}

.esquerdo p{
    font-size: 16px;
    color: gray;
    font-style: italic;
}

.autora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;

    width:300px;
    padding: 10px;
    background-color: #efebef;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;

    opacity: 0; 
    animation: fadeIn 2s forwards;
}

.autora img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.autora h3{
    color: var(--titulo-autor);
    font-weight: bold;
    font-size: 20px;
}

.autora h2{
    color: var(--titulo-autor);
    font-size: 20px;
}

.autora p{
    font-size: 14px;
    text-align: justify;
    margin: 10px;
} 


@keyframes fadeIn {
from {
    opacity: 0; 
    transform: scale(0.5); 
}
to {
    opacity: 1; 
    transform: scale(1); 
}
}
