.secondary-section{
    margin-bottom: 50px;
}

.secondary-section__bar{
    margin-bottom: 40px;
}

.secondary-section__title{
    font-size: 1.9rem;
    margin-bottom: 20px;
}

.secondary-section__text{
    font-size: 1.25rem;
    margin-bottom: 25px;
}

/* Post component stylization */

.article{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.reverse{
    flex-direction: row-reverse;
}

.article__image{
    width: 55%;
    height: 40vh;
    overflow: hidden;
}

.post-image{
    object-fit: fill;
    height: 100%;
}

.article__content{
    width: 40%;
}

.article__content__title{
    font-size: 1.7rem;
}

.article__content__text{
    font-size: 1.15rem;
    margin-bottom: 15px;
}

.article__content__button{
    padding: 10px;
    border-radius: 40px;
}

@media screen and (max-width: 900px) {
    .secondary-section__text{
        margin-bottom: 60px;
    }

    .article{
        flex-direction: column;
        align-items: center;
    }

    .article__image{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .post-image{
        height: auto;
        width: 100%;
    }

    .article__content{
        width: 100%;
    }

    .article__content__text{
        margin-bottom: 20px;
    }

    .article__content__button{
        width: 75%;
        height: 45px;
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
  }