.card{
    display:flex;
    align-self:center;
    flex-direction: column;

    
    border-radius: 10px;
    
    
}

.card h2{
    margin-left:3%;
}

.coisasdocard{
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    width: 80%;
    background-color: gray;
    width: 40%;
    height: 30%;
    border-radius: 10px;
    
}

.imagem{
    margin: 3%;
    display: flex;
    align-self: center;
}

.titulo{
    font-weight:bold ;
}

.perfil{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.profile{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.nome{
    margin-left: 3%;
}