.mae{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 0.5rem;
}

/* responsividade */


@media (max-width:515px) {
    .mae{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
        gap: 0.5rem;
    }
}