.top{
  background-color: #965A1B;
  width: 100vw;
  height: 280px;
  font-family: "Poppins", sans-serif;
}
.bottom{
  margin-top: 100px;
  background-color: #E5CF94;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}
@media(max-width:600px) {
  .top{
    height: 300px;
  }
  .bottom{
    margin-top: 400px;
  }
}