.teclado{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 0.5rem;

}

.botao_teclado{
    text-transform: uppercase;
    border-radius: 40%;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    border: 5px dotted white;
    background-color: rgba(242, 242, 242, 0.197);
    color: white;
}

