.out{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.base{
    height: 10px;
    width: 270px;
    background-color: white;

}

.vertical{
    height: 400px;
    width: 10px;
    background-color: white;
    margin-left: -160px;
}

.vertical_menor{
    height: 41px;
    width: 10px;
    background-color: white;
    position: absolute;
    right: 300px;
}

.horizontal{
    height: 10px;
    width: 180px;
    position: absolute;
    background-color: white;
    right:300px;
}

.cabeca{
    height: 60px;
    width: 60px;
    border: 8px solid white;
    border-radius: 50%;
    position: absolute;
    top: 39px;
    right: 265px;
}

.corpo{
    height: 150px;
    width: 10px;
    background-color: white;
    position: absolute;
    top: 110px;
    right: 300px;

}
.braco_direito{
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 150px;
    right: 290px;
    rotate:-60deg;
}

.braco_esquerdo{
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 150px;
    right: 260px;
    rotate: 60deg;
}

.perna_direita{
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 290px;
    rotate:-60deg;
}

.perna_esquerda{
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 260px;
    rotate: 60deg;
}

@media (max-width:768px){
    .vertical{
        height: 350px;
    }

    .horizontal{

        right: 30px;
      }
  
    .vertical_menor{
        right: 30px;
      }
  
    
    .cabeca{
       
        top: 39px;
        right: 0px;
    }

    .corpo{
  
        top: 110px;
        right: 35px;

    }
    .braco_direito{
       
        top: 150px;
        right: 25px;
        rotate:-60deg;
    }

    .braco_esquerdo{
       
        top: 150px;
        right: -5px;
        rotate: 60deg;
    }

    .perna_direita{
       
        top: 280px;
        right: 25px;
        rotate:-60deg;
    }

    .perna_esquerda{
        top: 280px;
        right: -5px;
        rotate: 60deg;
    }

}

@media (max-width:375px){
    .out{
        width: 50%;
    }
    .vertical{
        height: 350px;
        
    }

    .horizontal{
        width: 110px;
        right: 40px;
      }
  
    .vertical_menor{
        right: 30px;
        
      }
  
    .cabeca{
       
        top: 39px;
        right: 0px;
    }

    .corpo{
        top: 110px;
        right: 35px;

    }
    .braco_direito{
       
        top: 150px;
        right: 25px;
        rotate:-60deg;
    }

    .braco_esquerdo{
       
        top: 150px;
        right: -5px;
        rotate: 60deg;
    }

    .perna_direita{
       
        top: 280px;
        right: 25px;
        rotate:-60deg;
    }

    .perna_esquerda{
        top: 280px;
        right: -5px;
        rotate: 60deg;
    }





}
