.header{
    background-color: var(--bgColorHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    padding: 0px 11.11% 0px 11.11%;
}

.h1Header{
    font-size: 40px;
    color: var(--h1HeaderColor);
}

.sectionBar{
    display: flex;
    align-items: center;
    gap: 3.33%;
}

.searchBar{
    background-color: var(--bgColorSearchBar);
    width: 429px;
    padding: 0px 18px 0px 18px;
    height: 46px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputSearchBar{
    height: 32px;
    border: 0;
    background: unset;
}

.inputSearchBar::before{
    border: 0;
    background: unset;
}

.inputSearchBar::placeholder{
    font-size: 24px;
    color: #000000;
}


