.headerblog{
    background-color: #f0ddfc;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.blogname{
    font-size: 40px;
    color: #4a0a77;
}

.blogname span{
    font-style: normal;
    font-weight: bold;
    color: #5a108f;
}

.blogname img{
    width: 44px;
}