
.Section2{
    padding: 0px 240px 0px 240px;
}

.divTitle{
    padding-bottom: 80px;
}

.hrSection2{
    width: 960px;
    border: 1px solid #0065FF ;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* RESPOSIVIDADE */

@media (max-width: 376px) {
    .Section2{
        padding: 0px 32px 0px 33px;
    }

    .divTitle{
        padding-bottom: 25px;
        text-align: center;
    }

    .hrSection2{
        width: 310px;
        margin-top: 50px;
        margin-bottom: 44px;
    }
}