
.Section2{
    padding: 0px 16.66% 0px 16.66%;
}

.divTitle{
    padding-bottom: 80px;
}

.hrSection2{
    max-width: 960px;
    border: 1px solid var(--colorH);
    margin-top: 80px;
    margin-bottom: 80px;
}

/* RESPOSIVIDADE */


@media (max-width: 376px) {
    
    .Section2{
        padding: 0px 2.2% 0px 2.2%;
    }

    .divTitle{
        padding-bottom: 25px;
        text-align: center;
    }

    .hrSection2{
        max-width: 310px;
        margin-top: 50px;
        margin-bottom: 44px;
    }
}