@import '../../index.css';

nav{
    padding: 30px 87px 30px 87px;

    background-color: var(--primary-white);
    box-shadow: 0 25px 65px 0 var(--nav-shadow);

    display: flex;
    justify-content: space-between;

    font-family: "Be Vietnam Pro", sans-serif;
}
.nav_links{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav_links h1{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-black);
}

.nav_links-group{
    display: flex;
    gap: 20px;
   
}

.nav_links-group a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-blue);
}

.nav_actions{
    display: flex;
    gap: 50px;
}

.nav_actions-imgs{
    display: flex;
    gap: 30px;
}

.nav_actions-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    width: 40px;
    min-height: 22px;

    display: flex;
    align-items: center;

    border-radius: 18px;
    border:solid 1px var(--btn-border);
    background-color:var(--btn-bg);
    padding: 2px 2px;
}

.btn_circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--btn-darkTheme);
}

@media  screen and (max-width:992px) {
    nav .nav_links .nav_links-group,
    nav .nav_actions .nav_actions-imgs
    {
        display: none;
    }

    .navMobile{
        visibility: initial;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width:464px){
    nav{
        padding: 25px
    }
}