* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color:#E2EBEB;
}

body{
    width: 100vw;
    background-color: #080B0C;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}