body.dark-mode {
  background-color: var(--color-dark);
  color: #fff;
}

.dark-mode a{
  color: white;
}
.dark-mode img{ /* ajuste */
  color: white;
}
.dark-mode span {
  color: white;
}
.dark-mode .sections h1{
  background-color:var(--color-dark);
  color: #fff;
}

.dark-mode .sections span{
  color: white;
}
.dark-mode .avaliable {
  background-color: var(--color-dark-claro);
}
