@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
}

.modal_edit_form_title{
  @apply text-xl font-semibold
}

.modal_edit_form_input{
  @apply px-2 py-2 font-semibold text-xl border border-black rounded-3xl
}

.modal_edit_form_radio{
  @apply border border-black h-6 w-6 appearance-none rounded-full checked:border-4
}
