@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
img{
    max-width: 120px;
}
a{
    text-decoration: none;
    color: gray;
}
.normal{
    color: black;
}
.bloco-texto{
    text-align: center;
    font-family: "Bebas Neue",sans-serif;
}
.bloco-texto h1{
    font-size: 40px;
    border: 5px solid;
    margin-inline: 30%;
    border-radius: 20px;
    cursor: pointer;
}
.sobre{
    text-align: center;
    font-family: "Bebas Neue",sans-serif;
    font-size: 30px;
    color: gray;
    border: 5px solid;
    margin-inline: 40%;
    border-radius: 20px;
    cursor: pointer;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.title{
    font-family: "Bebas Neue",sans-serif;
    font-size: 70px;
    margin-top: 0px;
}
@media (max-width: 500px){
    .bloco-texto h1{
        margin-inline: 20%;
    }
    .sobre{
        margin-inline: 20%;
    }
}