@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.pergunta{
    margin-top: 10px;
    margin-inline: 30%;
    border-radius: 30px;
    border: 5px solid;
    text-align: center;
    font-family: "Bebas Neue",sans-serif;
    font-size: 30px;
}
.entrada-palavra{
    resize: none;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    border: 5px solid;
    border-radius: 15px;
    font-family: "Open sans",sans-serif;
    text-align: center;
}