.navigation{
    display: none;
}

@media screen and (max-width: 905px){
    .container{
        align-items: center;
        justify-content: center;
    }

    .title{
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .availableForWork{
        width: 100%;
    }
    .profileImage{
        margin-bottom: 40px;
        box-shadow: 0px 25px 65px 0px #00000026;
    }

    .menuButton {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #0065FF;
        margin: 6px 0;
        transition: 0.4s;
    }

    .open .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    .open .bar2 {
        opacity: 0;
    }
    
    .open .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .menu.openedMenu{
        gap: 20px;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100vw;
        background: #fff;
        top: 72px;
        height: 100vh;
        padding: 15px;
    
    }

    .menu{
        width: 86%;
    }
    
    .openedMenu .navigation{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;

        font-size: 14px;
        font-weight: 400;
        line-height: 20.45px;
        text-align: left;
        color: #0065FF;

    }

    .socialNav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 27px;
    }


}