.filmeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background-color: var(--second-color);
    border-radius: 25px;
    width: 350px;
    padding: 25px;
    color: white;
}
.filmeCard img {
    width: 300px;
    height: 450px;
    border-radius: 20px;
}
.filmeCard div {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.filmeCard div p {
    text-align:justify
}
.filmeCard button {
    border-color: transparent;
    border-radius: 15px;
    padding: .75em;
    cursor: pointer;
    background-color: burlywood;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1em;
}
.filmeCard button:hover{
    background-color:orange;
}