* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    font-style: normal;
}


.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top:30px;
    padding-bottom: 30px;
    gap: 30px;
    width: 95%;
}


.news h1{

    font-weight: 700;
    font-size: 65px;
    line-height: 118.04%;
    letter-spacing: -0.02em;
    color: #003720;
    text-align: center;
    /* padding-top: 3%;
    padding-bottom: 3%; */
}

.news h3 {
    font-weight: 700;
    font-size: 65px;
    line-height: 118.04%;
    letter-spacing: -0.02em;
    color: #003720;
    text-align: center;
    padding-top: 10px;
}

.news-body{

    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    text-decoration: none;
    padding-top: 10px;

}

.news-body section{
    display: flex;
    flex-direction: column;
    gap:15px;
    max-width: 543px;
}

.news-body h2{

    font-weight: 600;
    font-size: 40px;
    line-height: 118.04%;
    letter-spacing: -0.02em;
    color: #003720;
}

.news-body p{

    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;

    color: #404540;

}

.news-img{
    max-width: 48%;
    height: auto;
    align-self: center;
}

.news p{
    max-width: 1119px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: normal;
    letter-spacing: -0.02em;

    color: #404540;
}

.news-imgs{
    display: flex;
    flex-direction: row;
    max-width:1119;
    justify-content: space-between;
    gap: 10px;
}

.news-creator{
    display: flex;
    flex-direction: row;
    gap:20px;
    text-decoration: none;
    align-items: center;
}

.news-creator-profile{
    height: 100px;
    width: 100px;
}

.news-creator h2{

    font-weight: 500;
    font-size: 33px;
    line-height: auto;

    color: #003720;

}

.news-creator p{

    font-weight: 500;
    font-size: 20px;
    line-height: auto;

    color: #067546;

}

.news-creator-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1180px){

    .news-body{
        flex-direction: column;
    }
    .news{
        gap:20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .news section{
        order:0;
    }
    .titulo{
        display: none;
    }
    .top-img{
        order: 1;
        width:90%;
        height:auto;
    }

    .news-body section{
        max-width: 100%;
        order:1;
        gap:15px;
    }

    .news-body h2{
        font-size: clamp(20px,5.5vw,55px);
        line-height: auto;
    }

    .news h3{
        font-size: clamp(20px,6vw,55px);
        line-height: auto;
    }

    .news-body p{
        font-size: clamp(12px,3.3vw,20px);
        line-height: normal;
    }
    .news p{
        font-size: clamp(12px,3.3vw,20px);
        line-height: normal;
    }

        
    .news-creator{
        gap:15px;
    }

    .news-creator-profile{
        height: auto;
        width: clamp(50px,15vw,100px);
    }

    .news-creator h2{
        font-size: clamp(15px,5.5vw,33px);
    }

    .news-creator p{
        font-size: clamp(15px,3.5vw,20px);
    }

}


/* .news .card-wide p{
    margin-top: 5px;
}

.news .card-wide h1{
    margin-bottom: 10px;
}

.news .card-wide h2{
    margin-top: 10px;
} */