/* ANIMAÇÕES */
@keyframes animationTextBox {
    from {transform: translateX(2200px);}
    to {transform: translateX(0px);}
}

.section3{
    display: flex;
    padding: 36px 16.66% 0px 16.66%;
    gap: 40px;
}

.imgPlaceholder{
    max-width: 670px;
    height: 370px;
}

.textAnime{
    animation-name: animationTextBox;
    animation-delay: 0.5s;
    animation-duration: 4s;
}

.BtnPrimarylight{
    margin-top: 28px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--colorH);
    border-radius: 44.5px;
    transition: all 0.5s ease;
}

.BtnPrimarylight:hover{
    background-color: rgba(135, 207, 235, 0.261);
    height: 55px;
    cursor: pointer;
}

h5{
    color: var(--colorH);
    font-size: 12px;
    font-family: "Be Vietnam";
}


/* RESPOSIVIDADE */

@media (max-width: 1200px) {
    .section3{
        flex-direction: column;
    }
}

@media (max-width: 376px) {
    .section3{
        padding: 25px 2.2% 0px 2.2%;
        gap: 17px;
    }

    .imgPlaceholder{
        max-width: 310px;
        height: 179px;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .BtnPrimarylight{
        width: 310px;
    }
}