
.section3{
    display: flex;
    padding: 36px 240px 0px 240px;
    gap: 40px;
}

.imgPlaceholder{
    width: 670px;
    height: 370px;
}

.BtnPrimarylight{
    margin-top: 28px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0065FF;
    border-radius: 44.5px;
    
}

h5{
    color: #0065FF;
    font-size: 12px;
    font-family: "Be Vietnam";
}


/* RESPOSIVIDADE */

@media (max-width: 376px) {
    .section3{
        flex-direction: column;
        padding: 25px 32px 0px 33px;
        gap: 17px;
    }

    .imgPlaceholder{
        width: 310px;
        height: 179px;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .BtnPrimarylight{
        width: 310px;
    }
}