.profileImage{
    width: 100px;
    border-radius: 93px;
    box-shadow: 0px 25px 65px 0px #00000026;
    margin-bottom: 40px;
}
.title{
    font-family: 'EB Garamond', sans-serif;
    color: var(--blue_color);
    width: 100%;
}

.title h1{
    font-size: 70px;
    font-weight: 700;
}


@media screen and (min-width: 931px){
    .title h1:last-child{
        width: 100%;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid var(--blue_color); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    @keyframes typing {
        from { width: 0 }
        to { width: 100% ; display: none;}
    }
    
      /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--blue_color); }
    }
}


.title::after{
    content: '';
    display: block;
    width: 192px;
    height: 2px;
    background-color: var(--blue_color);
    margin: 40px 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.container::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--blue_color);
    margin: 80px 0;

}

.description{
    font-size: 17px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text_color);
}

.blueText{
    color: var(--blue_color);
}

.availableForWork{
    display: flex;
    width: 462px;
    height: 56px;
    background-color: var(--gray);
    font-family: 'Be Vietnam', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
}

.availableForWork p{
    color: var(--text_color);
    margin: 0;
}

.menuButton{
    display: none;
}


@media screen and (max-width: 905px){
    .container{
        align-items: center;
        justify-content: center;
        width: 75%;
    }

    .title{
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .availableForWork{
        width: 100%;
    }
    .profileImage{
        margin-bottom: 40px;
        box-shadow: 0px 25px 65px 0px #00000026;
    }

    .menuButton {
        display: inline-block;
        cursor: pointer;
    }
    
    .title h1{
        font-size: 32px;
    }

}