@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro');

.conteudo{
    height: 82px;
    display: flex;
    font-family: Be Vietnam;
    justify-content: space-around;
    align-items: center;
    box-shadow: 15px 15px 15px #00000026;
}


.nomes{
    width: 420px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    width: 290px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nomes > h4{
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    color: #202020;
}

.links p{
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    color: #00008B;
}

.direita{
    width: 285px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}


.redes{
    width: 111px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    /* background-color: #202020; */

}

.seletor{
    width: 124px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.seletor p{
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.indicador{
    width: 40px;
    height: 22px;
    background-color: #E5E5E5;
    border: 1px solid #3C3B3A;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.botao{
    width: 17px;
    height: 17px;
    background-color: #3C3B3A;
    border-radius: 100%;
    margin-left: 5%;
}


