*{
  padding: 0;
  margin: 0;
}

:root {
    --bgColorMain: #FFFFFF; 
    --bgColorHeader: #078D55;
    --bgColorSearchBar: #E3E5E2;
    --h1Color: #003720;
    --h1HeaderColor: #FFFFFF;
    --h2FooterColor: #F6F7F6;
    --h2Color: #003720;
    --h3Color: #003720;
    --pColor: #404540;
    --paragPost: #067546;
}

.dark {
    --bgColorMain: #161616;
    --bgColorHeader: #078D55;
    --bgColorSearchBar: #282A26;
    --h1Color: #F6F7F6;
    --h1HeaderColor: #0D0D0D;
    --h2FooterColor: #151515;
    --h2Color: #F6F7F6;
    --h3Color: #FFFFFF;
    --pColor: #078D55;
}

.App {
  background-color: var(--bgColorMain);
}

h1{
  font-size: 50px;
  color: var(--h1Color);
}

h2{
  font-size: 32px;
  color: var(--h2Color);
}

h3{
  color: var(--h3Color);
}

h4{
  color: var(--h1Color);
}

h5{
  color: var(--h2FooterColor)
}

p{
  font-size: 18px;
  font-weight: bold;
  color: var(--pColor);
}

.swiper {
  max-width: 1200px;
  min-height: 330px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: var(--h1Color) ;
}

.swiper-pagination-bullet{
  background-color: var(--paragPost) ;
}

.swiper-button-prev::after {
  color: var(--h1Color)
}

.swiper-button-next::after {
  color: var(--h1Color)
}