:root {
    --bgColorMain: #FFFFFF; 
    --bgColorHeader: #078D55;
    --bgColorSearchBar: #E3E5E2;
    --h1Color: #003720;
    --h2Color: #003720;
    --pColor: #067546;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColorMain: #161616;
    --bgColorHeader: #078D55;
    --bgColorSearchBar: #282A26;
    --h1Color: #F6F7F6;
    --h2Color: #F6F7F6;
    --pColor: #078D55;
  }
}