.cardSection h1.tituloCardSection{
    font-weight: 700;
    font-size: 32px;
    color: #000;
    margin-left: 108px;
    margin-top: 69px;
    margin-bottom: 12px;
}

.cardSection {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.cardSection .cardContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 66px;
}

.card{
    width: 385px;
    height: 557px;
    border-radius: 10px;
    padding: 16px 24px 16px 24px;

    background-color: #fff;
}

.card .cardImage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
}


.card .cardText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .cardText h1{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 30px;
    color: #000;
    margin: 16px 0;
    width: 337px;

    
}

.card .cardText p{
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    letter-spacing: -0.02em;
    text-align: left;
    width: 337px;

}

.card .cardAuthorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.card .cardAuthor{
    width: 337px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}