h1.logo {
    color: #E2DFDF;
    font-size: 26px;
}

h1.logo em{
    color: #73FEB3;
    font-weight: 800;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1F3519;
    width: 100vw;
    height: 65px;
}

header .logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 129px;
}

header .searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 129px;
}

header .searchContainer input {
    width: 198px;
    height: 36px;
    border-radius: 20px;
    background-color: #D9D9D9;
    padding: 10px 8px 10px 8px;
}


header .searchContainer input::placeholder {
    color: black;
    font-weight: 300;
    font-size: 15px;
    margin-left: 8px;
    opacity: 1; 
}

@media screen and (max-width: 650px){
    header .searchContainer{
        display: none;
    }

    header .logoContainer{
        margin: 0 auto;
    }
}

