
.switch {
    width: 40px;
    height: 25px;
    display: contents;
}

.switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch__slider {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #E5E5E5;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch__slider:before {
    position: relative;
    content: "";
    height: 20px;
    width: 20px;
    top: 3px;
    left: 4px;
    background-color: #3C3B3A;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch__checkbox:checked + .switch__slider {
    background-color: #FAF4E6;
  }
  
  .switch__checkbox:focus + .switch__slider {
    box-shadow: 0 0 1px #FAF4E6;
  }
  
  .switch__checkbox:checked + .switch__slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }