header.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* background-color: #1e1e1e; */
}

.header .logo{
    margin-left: 35px;
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff; 
    transition: color 0.3s;
}

.logo span {
    color: #ff4500; 
}

.logo:hover {
    color: #bdbdbd; 
}

.logo span:hover {
    color: #ffa500; 
}

.userLink{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userButton {
    background-color: #ff4500;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-right: 35px;
}

main.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%;
    height: 90%;
}

.movie-card {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex: 15% 1;
    display: flex;
    flex-direction: column;

}

.movie-card h2{
    margin-top: 10px;
}

.movie-banner {
    width: 100%;
    border-radius: 10px;
}

.favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
