.toggle-darkmode {
  background: rgb(229, 229, 229);
  border: 1px solid rgb(60, 59, 58);
  border-radius: 99px;
  width: 40px;
  height: 22px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggle-darkmode .thumb {
  width: 17.25px;
  height: 17.25px;
  background-color: rgb(60, 59, 58);
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-darkmode.toggled {
  border-color: rgb(34, 34, 34);
}

.toggle-darkmode.toggled .thumb {
  left: calc(40px - 22.25px);
}