.hamburger-menu {
  display: none;
  position: absolute;
  top: 6rem;
  left: 5.44rem;
}

@media (max-width: 1024px) {
  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 480px) {
  .hamburger-menu {
    left: 1.5rem;
  }
}
