.header-bar,
.logo-sections,
.sections,
.social-darkmode,
.socialmedia,
.darkmode-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}

.logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.header-bar {
  height: 5.125rem;
  padding-left: 5.44rem;
  padding-right: 5.44rem;
  box-shadow: 0 1.563rem 4.063rem rgba(var(--box-shadow-header));
}

.logo-sections,
.social-darkmode {
  gap: 3.125rem;
}

.sections {
  gap: 1.25rem;
}

.section-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.45px;
}

.section-item a {
  color: rgb(var(--blue));
}

.socialmedia {
  gap: 1.875rem;
}

.darkmode-button {
  gap: 0.438rem;
}