.header-bar,
.logo-sections,
.sections,
.social-darkmode,
.socialmedia,
.darkmode-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 5.125rem;
  padding-left: 5.44rem;
  padding-right: 5.44rem;
  background-color: rgb(var(--header-background-color));
  box-shadow: 0 1.563rem 4.063rem rgba(var(--box-shadow-header));
}

.logo-sections,
.social-darkmode {
  gap: 3.125rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.02em;
}

.sections {
  gap: 1.25rem;
}

.section-item {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.278rem;
}

.section-item a {
  color: rgb(var(--highlight));
}

.socialmedia {
  gap: 1.875rem;
}

.darkmode-button {
  gap: 0.438rem;
}

@media (max-width: 1024px) {
  .nav-sections,
  .nav-socialmedia {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-bar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}

.hamburguer-menu-display {
  display: none;
  background-color: rgb(var(--primary-background-color));
}

.hamburguer-menu-display.toggled,
.hamburguer-menu-display.toggled .nav-socialmedia,
.hamburguer-menu-display.toggled .nav-sections {
  display: block;
}

.hamburguer-menu-display {
  position: fixed;
  z-index: 1;
  top: 5.125rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 5.125rem);
}

.hamburguer-menu-display .sections
 {
  flex-direction: column;
  justify-content: space-between;
  gap: 1.563rem;
  align-items: center;
  margin-top: 3.25rem;
  margin-bottom: 1.563rem;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.hamburguer-menu-display .section-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.45px;
}

.hamburguer-menu-display .socialmedia {
  padding-left: 32.95vw;
  padding-right: 32.95vw;
}