@charset "UTF-8";

/* Telas pequenas*/
@media(max-width: 376px) {
    body {
      width: 375px;
      height: 812px;
      top: -485px;
      left: 1029px;
      padding: 29px 12px 33px 13px;
      margin:0;
      gap: 0px;
      opacity: 0px;
      background-color: #BCCDD0;
    }
    div.Card{
      width: 350px;
      height:750px;
      top: 29px;
      left: 13px;
      gap: 0px;
      opacity: 0px;
    }
    figure.flh{
      width: 365px;
      height: 202px;
      gap: 0px;
      border-radius: 30px 30px 0px 0px;
      opacity: 0px;
      margin:0;
      position: absolute;
      top: 15%; 
      left: 53%; 
      transform: translate(-50%, -50%);
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 30px 30px 0px 0px;
      object-fit: cover;
      display: block;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    div.info{
      width: 300px;
      height: 548px;
      padding: 25px 30px 25px 30px;
      gap: 70px;
      border-radius: 0px 0px 30px 30px;
      opacity: 0px;
      background-color: #DFDFD6;
      position: absolute;
      top: 64%; 
      left: 53%; 
      transform: translate(-50%, -50%);
    }
    h1.deco{
      width: 290px;
      height: 72px;
      gap: 0px;
      opacity: 0px;
      font-family: Josefin Sans;
      font-size: 36px;
      font-weight: 600;
      line-height: 36px;
      color: #111313;
      text-align: left;
      align-items: center;
      position: absolute;
      top: 7%; 
      left: 50%; 
      transform: translate(-50%, -50%);
    }
    p.texto{
      width: 290px;
      height: 286px;
      gap: 0px;
      opacity: 0px;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.79px;
      text-align: left;
      color:#000000;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 18%;
      left: 9%;
    }

    div.barra{
      width:290px;
      height: 60px;
      gap: 0px;
      opacity: 0px;
    }
    figure.icon{
      width: 60px;
      height: 60px;
      gap: 0px;
      border-radius: 110px 0px 0px 0px;
      opacity: 0px;
      position: absolute;
      top: 88%; 
      left: 6%; 
      transform: translate(-50%, -50%);
    }
    p.nick{
      width: 87px;
      height: 30px;
      gap: 0px;
      opacity: 0px;
      font-family: Overpass;
      font-size: 24px;
      font-weight: 500px;
      line-height: 30.38px;
      text-align: left;
      color:#111313;
      position: absolute;
      top: 84%; 
      left: 40%; 
      transform: translate(-50%, -50%);
    }
    p.dia{
      width: 96px;
      height: 20px;
      gap: 0px;
      opacity: 0px;
      font-family: Overpass;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.26px;
      text-align: left;
      color: #000000;
      position: absolute;
      top: 91%; 
      left: 41.5%; 
      transform: translate(-50%, -50%);
    }
    button.but{
      width: 52px;
      height: 52px;
      gap: 10px;
      border-radius: 85px 0px 0px 0px;
      opacity: 0px;
      position: absolute;
      top: 91%; 
      left: 82%; 
      transform: translate(-50%, -50%);
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
      width: auto; 
      height: auto;
      display: inline-block; 
      margin: 0;
    }
    img.but{
      width: 100%; 
      height: auto;
      display: block;
    }
    div.compar{
      width: 221.02px;
      height: 25px;
      padding: 5px 10px 5px 10px;
      gap: 15px;
      border-radius: 15px 15px 15px 15px;
      opacity: 0px;
      background-color:#696F5A;
      justify-content: center; 
      align-items: center; 
      position: absolute;
      top: 78%; 
      left: 56.75%; 
      transform: translate(-50%, -50%);
      visibility: hidden;
    }
    h3.SH{
      width: 84px;
      height: 21px;
      gap: 0px;
      opacity: 0px;
      font-family: Overpass;
      font-size: 20px;
      font-weight: 500;
      line-height: 25.32px;
      text-align: left;
      color:#DFDFD6;
      position: absolute;
      top: 0.05%; 
      left: 23.5%; 
      transform: translate(-50%, -50%);
    }
    figure.face{
      width: 30px;
      height: 30px;
      padding: 0px 1.5px 1.5px 0px;
      gap: 0px;
      opacity: 0px;
      position: absolute;
      top: 8%; 
      left: 37.5%; 
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    figure.tt{
      width: 20px;
      height: 20px;
      gap: 0px;
      opacity: 1;
      position: absolute;
      top: 1.5%; 
      left: 55.5%; 
      transform: translate(-50%, -50%);
      cursor: pointer;

    }
    figure.pin{
      width: 30px;
      height: 30px;
      gap: 0px;
      opacity: 0px;
      position: absolute;
      top: 6%; 
      left: 73.5%; 
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

}

/* Telas maiores*/
@media(min-width: 377px) {
    body {
      width: 250px;
      height: 550px;
      top: -485px;
      left: -1004px;
      padding: 294px 522px 294.37px 523px;
      gap: 0px;
      opacity: 0px;
      background-color: #BCCDD0;
    }
    figure.flh{
      width: 291px;
      height: 492px;
      gap: 0px;
      border-radius: 30px 0px 0px 30px;
      opacity: 0px;
      position: absolute;
      top: 40%; 
      left: 25%; 
      transform: translate(-50%, -50%);
      transform: rotate(-90deg);
    }
    div.info{
      width: 510px;
      height: 460px;
      left: 291px;
      padding: 50px 30px 41px 30px;
      gap: 0px;
      border-radius: 0px 30px 30px 0px;
      opacity: 0px;
      background-color: #DFDFD6;
      position: absolute;
      top: 60.85%; 
      left: 65%; 
      transform: translate(-50%, -50%);
    }
    h1.deco{
      width: 492px;
      height: 36px;
      gap: 0px;
      opacity: 0px;
      font-family: Josefin Sans;
      font-size: 36px;
      font-weight: 600;
      line-height: 36px;
      text-align: left;
      position: absolute;
      top: 8%; 
      left: 47.35%; 
      transform: translate(-50%, -50%);
    }
    p.texto{
      width: 524px;
      height: 154px;
      gap: 0px;
      opacity: 0px;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.79px;
      text-align: left;
      color:#000000;
      position: absolute;
      top: 37%; 
      left: 50.47%; 
      transform: translate(-50%, -50%);
    }
    figure.icon{
      width: 60px;
      height: 60px;
      gap: 0px;
      border-radius: 110px 0px 0px 0px;
      opacity: 0px;
      position: absolute;
      top: 82%; 
      left: 2.75%; 
      transform: translate(-50%, -50%);
    }
    p.nick{
      width: 87px;
      height: 30px;
      gap: 0px;
      opacity: 0px;
      font-family: Overpass;
      font-size: 24px;
      font-weight: 500;
      line-height: 30.38px;
      text-align: left;
      color:#111313;
      position: absolute;
      top: 76.3%; 
      left: 24%; 
      transform: translate(-50%, -50%);
    }
    p.dia{
      width: 96px;
      height: 20px;
      gap: 0px;
      opacity: 0px;
      font-family: Overpass;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.26px;
      text-align: left;
      color:#000000;
      position: absolute;
      top: 87%; 
      left: 25%; 
      transform: translate(-50%, -50%);
    }
    button.but{
      width: 52px;
      height: 10px;
      gap: 10px;
      border-radius: 85px 0px 0px 0px;
      opacity: 0px;
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
      width: auto; 
      height: auto;
      display: inline-block; 
      margin: 0;
      position: absolute;
      top: 85%; 
      left: 91%; 
      transform: translate(-50%, -50%);
    }
    img.but{
      width: 100%; 
      height: auto;
      display: block;
    }
    div.compar{
      width: 231.02px;
      height: 20px;
      padding: 10px 15px 10px 15px;
      gap: 15px;
      border-radius: 15px 15px 15px 15px;
      opacity: 0px;
      background-color:#696F5A;
      position: absolute;
      top: 73%; 
      left: 72%; 
      transform: translate(-50%, -50%);
      visibility: hidden;
    }
    h3.SH{
      width: 84px;
      height: 21px;
      gap: 0px;
      opacity: 0px;
      font-family: Overpass;
      font-size: 20px;
      font-weight: 500;
      line-height: 25.32px;
      text-align: left;
      color:#DFDFD6;
      position: absolute;
      top: 7%;
      left: 21.5%;
      transform: translate(-50%, -50%);
    }
    figure.face{
      padding: 0px 1.5px 1.5px 0px;
      gap: 0px;
      opacity: 0px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 15%;
      left: 35%;
      transform: translate(-50%, -50%);
      cursor: pointer;

    }
    img.face{
      width: 100px;
      height: 100px;
    }
    figure.tt{
      width: 24.02px;
      height: 21.34px;
      gap: 0px;
      opacity: 0px;
      position: absolute;
      top: 7%;
      left: 55%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    figure.pin{
      width: 24px;
      height: 24px;
      gap: 0px;
      opacity: 0px;
      position: absolute;
      top: 5%;
      left: 73%;
      transform: translate(-50%, -50%);
      cursor: pointer;

    }
  }