@import './variables.scss';

#principal, #escolha, #jogo {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;

  background-color: $light-blue;
  width: 100vw;
  height: 100vh;
  gap: 2rem;

  h1{
    position: 15rem;
  }

  div {
    display: flex;
    flex-direction: row
  }
}