.App {
  padding: 1.5rem 1rem 1rem;
}

.logo {
  position: relative;
  left: 0;
  top: 0;
  width: 32px;
  height: auto;
}

@media (min-width: 768px) {
  .App {
    padding: 4.67rem 2.5rem 2.5rem;
  }
}

@media (min-width: 1366px) {
  .App {
    padding: 2.5rem 5.25rem 3.3125rem;
  }
}