:root {
  --dark-blue: 10, 56, 113;
  --white: 243, 245, 252;
  --gray: 73, 80, 87;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf') format('tff');
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: rgb(var(--dark-blue));
  background-color: rgb(var(--white));
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}