@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
  --primario: #0a3871;
  --secundario: white;
  font-family: 'Radio Canada Big', sans-serif;
}

header {
  position: fixed;
  top: 32px;
  left: 32px;
}
#logoAzinho {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 32px;
}

button {
  border-radius: 15px;
  border: 1px solid var(--primario);
  font-weight: 500;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
}
.botaoPrim {
  background-color: var(--primario);
  color: var(--secundario);
  width: 332px;
}
.botaoSec {
  background-color: var(--secundario);
  color: var(--primario);
  width: 332px;
}

.desenho {
  width: 400px;
}

.palavraEscolhida {
  display: flex;
  gap: .25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Kode Mono', monospace;
  color: var(--primario)
}