:root {
  --primario: #0a3871;
  --secundario: white;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

button {
  border-radius: 15px;
  border: 1px solid var(--primario);
  font-weight: 500;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
}
.botaoPrim {
  background-color: var(--primario);
  color: var(--secundario);
  width: 332px;
}
.botaoSec {
  background-color: var(--secundario);
  color: var(--primario);
  width: 332px;
}