* {
    box-sizing: border-box; 
    color: #000000;
    text-decoration: none;
    font-size: 100%;
    font-family:"Open Sans", sans-serif;
}

/*Navegação*/
.painel-navegação { 
    background: #ffffff; 
    height: 120px;
}
 .caixa { 
    width: 1440px; 
    margin: 0 auto;
 }
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
 }
 nav ul { 
    display: flex;
}
 nav .logo {
    font-style: normal;
    font-size: 3em; 
    font-weight: 700;
    text-align: left;
 }
 span {
   color: #7ED321;
}
 .itens-navegação li {
    list-style: none;
    margin-right: 100px;
    
   }
   .itens-navegação li:nth-last-of-type(1) {
      margin: 0;
   }
   .itens-navegação li a {
      font-size: 1,5em;
      font-weight: bold;
   }
   #botão-superior {
      color: #1C4701;
      border-radius: 15px 15px 15px 15px;
      background: #7ED32166;
      font-weight: bold;
      padding: 8px 32px;
      display: inline-block;
      transition: 200ms; 
   }
   #botão-superior:hover {
      transform: translateX(5px);
   }

   /*painel*/

 .painel1-texto {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: calc(100vh - 120px);
 }
 .caixa1{
    width: 2160px;
    margin: 0px;
 } 
 header {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header h1 {
    font-size: 3em;
    font-weight: 700;
    justify-content: center;
    line-height: 65.37px; 
    width: 334px;
    height: 65px;
    top: 150px;
}
header p {
   width: 687px;
   height: 176px;
   top: 229px;
   left: 377px;
   font-size: 1em;
   font-weight: 400;
   line-height: 21.79px;
   text-align:justify;
}
header .painel2-img {
   width: 354px;
   height: 266px;
   top: 419px;
   left: 543px; 
}