.homePage{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 36px 0px 32px 0px
}

.mainContent{
    display: flex;
    max-width: 1120px;;
    gap: 32px;
}

.textMainContent{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.lastPosts{
    display: flex;
    align-items: center;
    gap: 32px;
}

.mostVisitedPosts{
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1050px ) {
    .mainContent{
        flex-direction: column-reverse;
    }
}

@media (max-width: 1270px) {
    .post1{
        display: none;
    }
}

@media (max-width: 864px) {
    .post2{
        display: none;
    }
    .arrows{
        display: none;
    }
}

@media (max-width: 580px) {
    .astronautApresentation{
        max-width: 544px;
        width: 100%;
    }
}