:root{
    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --black: #010102;
    --white: #f3f3f3;
    --brown: #47484C;
    --font-josefin: 'Josefin Sans', sans-serif;
    --font-dm:'DM Sans', sans-serif;
}