.user{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

main{
    width: 100%;
}

.user input {
    background-color: #354244;
    max-width: 300px;
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    height: 35px;
    margin-bottom: 5px;
}

.user button{
    color: #E2EBEB;
    background-color: #354244;
    border: 2px solid #E2EBEB;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.user .change {
    border: none;
    background-color: transparent;
}

.user-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-account h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 130px;
    color: #E2EBEB;
    align-self: flex-start;
    margin-left: 5vw;
}

.user-account h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px; 
    margin-top: 40px;
    color: #E2EBEB;
    align-self: flex-start;
    margin-left: 5vw;
}

.separator{
    height: 80px;
}