
.section4{
    display: flex;
    padding: 36px 16.66% 80px 16.66%;
    gap: 40px;
}

.imgPlaceholder{
    max-width: 670px;
    height: 370px;
}

.BtnPrimarylight{
    margin-top: 28px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  var(--colorH);
    border-radius: 44.5px;
}

/* RESPOSIVIDADE */

@media (max-width: 1200px) {
    .section4{
        flex-direction: column-reverse;
        }
}

@media (max-width: 376px) {

    .section4{
        padding: 25px 2.2% 25px 2.2%;
        gap: 17px;
    }

    .imgPlaceholder{
        max-width: 310px;
        height: 179px;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .BtnPrimarylight{
        width: 310px;
    }
}