:root {
    --dark-blue: #0A3871;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: 1px solid var(--dark-blue);
    border-radius: 2rem;
    padding: 2rem;
    width: 20rem;
}