/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Poppins","arguments":[{"weight":["100","200","300","400","500","600","700","800","900"],"subsets":["latin"],"variable":"--font-poppins"}],"variableName":"poppins"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: '__Poppins_Fallback_673c6b';
  src: local("Arial");
  ascent-override:93.62%;
  descent-override:31.21%;
  line-gap-override:8.92%;
  size-adjust:112.16%;
}@font-face {font-family: '__Poppins_Fallback_Fallback_673c6b';src: local("Arial");ascent-override: 93.62%;descent-override: 31.21%;line-gap-override: 8.92%;size-adjust: 112.16%
}.__className_673c6b {font-family: '__Poppins_Fallback_673c6b', '__Poppins_Fallback_Fallback_673c6b';font-style: normal
}.__variable_673c6b {--font-poppins: '__Poppins_Fallback_673c6b', '__Poppins_Fallback_Fallback_673c6b'
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
body {
    background: linear-gradient(to bottom, #965A1B 374px, #E5CF94 374px);
    background-repeat: no-repeat;
    min-height: 100vh;
}

::placeholder {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
