.linha {
    height: 1px;
    width: 192px;
    background-color: #0065FF;
    margin: 80px 0px;
}

#available{
    display: flex;
    padding: 20px;
    background-color: #f8f9fa;
    gap: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 48px;
}

main {
    padding: 50px 16vw 80px 16vw;
}

.icone {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 25px 65px 0px #00000026;
    margin-bottom: 40px;
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.galeriaItem {
    display: flex;
    gap: 40px;
}

.galeriaItem img {
    height: 370px;
    width: 640px;
    border-radius: 10px;
    object-fit: cover;
}