.header-container {
    width: 100%;
    height: 64px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: width 0.5s ease-in-out; 
}

.icons-header {
    display: flex;    
    gap: 25px;
}

.icons-header button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: none;
    background: none;
}


.additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 14px;
    transition: width 0.5s ease-in-out;
}

.nome-site{
    color: var(--primary);
}

.esquerdo{
    display: flex;
    align-items: center;
    gap:25px;
    margin-left: 25px;
}

.direito{
    display: flex;
    align-items: center;
    gap:25px;
    margin-right: 25px;
}

.pesquisar button{
    background: none;
    border: none;
}
