.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container__brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.container__brand__info{
    width: 100%;
    text-align: right;
}

.container__button-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}