:root {
  --special-text-color: #0065FF;
  --text-color: #202020;
  --background-color: #FFFFFF;
  --cta-background: #F8F9FA;
  --dark-fill: #3C3B3A;
  --dark-background: #222222;
  --box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.15);
}

.dark {
  --text-color: #FAF4E6;
  --special-text-color: var(--text-color);
  --background-color: #222222;
  --dark-fill: #3C3B3A;
  --cta-background: var(--dark-fill);
}

p a {
  color: var(--special-text-color);
  &.dark {
    text-decoration-line: underline !important;
  }
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.eb-garamond-bold {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
