* {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #BCCDD0;
    margin:0;
}

main {
    margin: auto;
    width: 60%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    background-color: #DFDFD6;
    font-size: 16px;
    border-radius: 30px;
}

.conteudo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

picture img{
    width: 100%;
    padding: 0;
    border-radius: 30px 0px 0px 30px;
}

@media (max-width: 800px){

    main{
        flex-direction: column;
    }

    .conteudo{
        padding-top: 25px;
    }
    
    picture img{
        border-radius: 30px 30px 0px 0px;
        width: 100%;
    }

}