#favtitulo {
    text-align: center;
    padding: 1em;
    color: orange;
}
.gradeFavoritos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 25px 0;
}