.centro{
    display: flex;
    text-transform: uppercase;
    gap: 1.5rem;
}

.item{
    width: 80px;
    border-bottom: 5px solid purple;
    border-radius: 1px;
    font-size: 48px;
    font-weight: 400;
    color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsividade */

@media (max-width:515px) {

    .item{
        display: flex;
        width: 50px;
        font-size: 28px;
        align-items: center;
        justify-content: center;
    }
    .item span{
        align-self: center;
    }
    .centro{
        display: flex;
        text-transform: uppercase;
        gap: 1.5rem;
    }
    
}
