
header{
    height: 82px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0px 21% 0px 6% ;
}

.Header{
    height: 82px;
    background-color: var(--colorBgHeader);
    display: flex;
    align-items: center;
}

.articleHeader{
    display: flex;
    align-items: center;
    gap: 50px;
}

.h4SemPaddingBottom{
    padding-bottom: 0px;
}

.navDesktop ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navDesktop a{
    color: #0065FF;
    text-decoration: none;
    font-size: 14px;
    font-family: "Be Vietnam";
}

.linkTitulo{
    color: var(--colorP);
}

.iconsHeaderDesktop{
    display: flex;
    gap: 30px;  
}

.IconTwitter{
    width: 22px;
    height: 22px;
}

.IconFigma{
    width: 13px;
    height: 18px;
}

.IconInsta{
    width: 16px;
    height: 18px;
}

.darkMode{
    position: absolute;
    display: flex;
    top: 30px;
    right: 6%;
    gap: 7px;
}

/* BOTAO DARK MODE */
.toggle{
    display: none;
}

.switch{
    position: relative;
    background-color: #E5E5E5;
    width: 39.22px;
    height: 21.21px;
    border-radius: 40px;
    border: 1px solid #3C3B3A;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.slider{
    position: absolute;
    background-color: #3C3B3A;
    border-radius: 50%;
    width: 17.25px;
    height: 17.29px;
}


/* MOBILE */

button{
    display: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.linha{
    width: 30px;
    height: 4.5px;
    background-color: #0065FF;
    display: block;
    margin: 4.5px auto;
}

.menuMobile{
    position: absolute;
    background-color: #f4f5f5;
    top: 97px;
    width: 350px;
}

.navMobile ul{
    height: 160px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navMobile a{
    color: #0065FF;
    text-decoration: none;
    font-size: 14px;
    font-family: "Be Vietnam";
    display: block;
    padding-left: 125px;
    padding-bottom: 25px;
}

.iconsHeaderMobile{
    display: flex;
    gap: 100px;
    padding-left: 30px;
}


/* RESPOSIVIDADE */

@media (max-width: 900px) {
   
    .iconsHeaderDesktop{
        display: none;
    }
}

@media (max-width: 735px) {
    .navDesktop ul{
        display: none;
    }
}

@media (max-width: 376px) {

/* altura do header */
    header{
        height: 72px;
        padding: 0px 1.73% 0px 1.73%;
    }

/* trocar os icones do menu */
    button{
        display: block;
    }
}
