#teste{
    width: 300px;
    height: 300px;
}

.testando-div{
    width: 500px;
    /* background-color: red; */
}

#image-carro{
    width: 500px;
    height: 300px;
}

@media (max-width: 550px) {
    .testando-div{
        display: none;
    }
}