footer {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: green;
    font-size:.75em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    width: 100vw;
    margin-top: 2em;
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div div {
    flex-direction: row;
    gap: 1em;
    font-weight: bold;
}
.futConheca {
    font-size: 1.5em;
}

@media(max-width:600px){
    footer {font-size: .5em;}
}