:root {
  font-family: "Be Vietnam Pro", sans-serif;
  --background_header: #fff;
  --background_color: #fff;
  --text_color: #000;
  --blue_color: #0065FF;
  --gray: #F8F9FA;
}

[data-theme="dark"] {
  --background_header: #3C3B3A;
  --background_color: #222222;
  --text_color: #fff;
  --blue_color: #fff;
  --gray: #3C3B3A;
}

.form-switch .form-check-input:checked {
  background-color: #FAF4E6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%233C3B3A'/%3e%3c/svg%3e");
  border: 1px solid #222222
}

.form-switch .form-check-input{
  background-color: #E5E5E5;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%233C3B3A'/%3e%3c/svg%3e");
  border: 1px solid #3C3B3A
}

body{
  background-color: var(--background_color);
}

*{
  margin: 0;
  box-sizing: border-box;
}

