/* making the responsive part */

@media screen and (max-width: 1000px) {
    html{
        font-size: 21px;
    }

    .main-article{
        flex-direction: column;
        height: 90%;
        width: 90%;
    }

    .main-article-image{
        width: 100%;
        height: 35%;
        border-radius: 10px 10px 0 0;
    }

    .leaves-image{
        width: 100%;
        height: auto;
    }

    .main-article-content{
        width: 100%;
        height: 65%;
        border-radius: 0 0 10px 10px;
    }

    .content-options-list{
        width: 75%;
        border-radius: 50px;
    }
}