.register{
    display: flex;
    align-self: center;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    background-color: #356B02;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}