.maior{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.carrossel{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 50px;
}

.carrossel img{
    cursor: pointer;
}

.carrossel-dinamico{
    display: flex;
    gap: 20px;
}

.carrossel .carrossel_noticia_1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 543px;
    height: 245px;
    background-color: #EDFFF7;
    border-radius: 30px;
    gap: 15px;
}

.carrossel_noticia_1 img{
    width: 186px;
    height: 205px;
}

.carrossel .carrossel_noticia_2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 543px;
    height: 245px;
    background-color: #EDFFF7;
    border-radius: 30px;
    gap: 15px;
}

.carrossel_noticia_2 img{
    width: 186px;
    height: 205px;
}

.organizador{
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-noticia{
    width: 302px;
    height: 154px;
    display: flex;
    flex-direction: column;

}

.texto-noticia h2{
    margin: 0;
    font-family: Rubik;
    font-size: 30px;
    color: #003720;
}

.texto-noticia p{
    font-size: 14px;
    color: #067546;
}

.autor_carrossel{
    display: flex;
    align-items: center;
    width: 290px;
    height: 44px;
}

.dados_autor_pequeno{
    width: 215px;
    height: 31px;
    display: flex;
    flex-direction: column;
}

#autor_pequeno{
    color: #003720;
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
}

#data_pequena{
    color: #067546;
    font-size: 12px;
    margin: 0;
    margin-left: 5px;
}

#imagem_pequena{
    width: 44px;
    height: 44px;
}

#share_pequena{
    width: 32px;
    height: 32px;
}

.bolinhas-mae{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 269px;
    height: 35px;
    margin-bottom: 25px;
}

/* .aresta{
    position: relative;
    border: 1px solid black;
    width: 59px;
    height: 35px;
    border-radius: 30px;
    background-color: transparent;
} */

.bolinhas-filha{
    position: relative;
    background-color: #067546;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

#line{
    text-decoration: none;
}


@media (max-width: 550px) { 

    .carrossel .carrossel_noticia_1{
        width: 328px;
        height: 192px;
    }

    .carrossel_noticia_1 img{
        width: 152px;
        height: 160px;
    }

    .organizador{
        height: 163px;
        justify-content: space-between;
    }

    .texto-noticia{
        /* background-color: red; */
        width: 130px;
        height: 101px;
    }

    .texto-noticia h2{
        font-size: 15px;
    }

    .texto-noticia p{
        font-size: 10px;
    }

    .autor_carrossel{
        width: 134px;
        height: 20px;
    }

    .dados_autor_pequeno{
        height: 24px;
    }

    #autor_pequeno{
        font-size: 8px;
    }
    
    #data_pequena{
        font-size: 8px;
    }

    #imagem_pequena{
        width: 20px;
        height: 20px;
    }
    
    #share_pequena{
        width: 20px;
        height: 20px;
    }

    .bolinhas-mae{
        width: 151px;
        height: 20px;
    }

    .bolinhas-filha{
        width: 10px;
        height: 10px;
    }


}


@media (max-width: 900px) { 

    .seta_esq{
        display: none;
    }

    .seta_dir{
        display: none;
    }

}



@media (max-width: 1280px) { 

    .carrossel .carrossel_noticia_2{
        display: none;
    }

}