@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --bg-primary: #ffffff;
  --bg-posts: #F2F4F7;
  --bg-btn: #1D2939;
  --primary-text-color: #1D2939;
  --border-color: #1D2939;
  --btn-border-color:#D0D5DD;
  --secondary-text-color: #475467;
  --logo-color: #1E2834;
  --card-data-color: #667085;
  --title-color: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
  --nav-shadow:rgba(30, 40, 52, 8%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction:column;

  overflow-x: hidden;
  position: relative;
}

#__next{
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
