@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {padding: 0; margin: 0;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCCDD0;
    height: 100vh;
    width: 100wh;
}

#fotoPlantaMobile {
    display: none;
}
/* Alinhando o card com a foto da planta */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 875px;
    height: 491.63px;
}

/*1- o card */
.card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 50px 30px 40px;
    border-radius: 0px 30px 30px 0px;
    height: 100%;
}
/*2- Mexendo no conteúdo do card */
 /* 2.1- mexendo no texto */
h1 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #111313;
    padding-bottom: 30px;
}
#p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/*2.2- Mexendo no footer (perfil doguito, menu-hamburguer) */
.esquerda {
    display: flex;
    flex-direction: row;
    padding-top: 52px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 0px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;
    text-decoration: black;
}

.profileText>h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.profileText>p {
    font-size: 16px;
    padding-top: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
}

button {
    cursor: pointer;
    border: none;
    width: 52px;
    height: 52px;
    background: #696F5A;
    border-radius: 85px;
}

.menuEscondido {
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    font-size: 24px;
    border-radius: 15px;
    background: #696F5A;
    transition:  0.3s;
    visibility:hidden;
}


.shareText {
    text-align: left;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;
    color: white;
}

a {color:white; cursor: pointer; text-decoration: none;}

@media (max-width: 375px) {
    main {
        flex-direction: column;
        max-width: 340px;
        padding-right: 20px;
        /* max-width: 375px; */

        /* justify-content: center;
        align-items: center;
        width: 70%;
        max-width: 875px;
        height: 491.63px; */
    }
    #fotoPlanta{
        display: none;
    }
    #fotoPlantaMobile {
        display: flex;
        max-width: 340px;
    }
    /*1- o card */
    .card {
        padding: 25px 30px;
        border-radius: 0px 0px 30px 30px;
        max-width: 350px;
    }

    /*2- Mexendo no conteúdo do card */
 /* 2.1- mexendo no texto */

    .texto {
        max-width: 280px;
        padding-bottom: 10px;
        gap: 1px;
    }

    h1 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        color: #111313;
    }
    #p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: rgb(0, 0, 0);
    }

    /*2.2- Mexendo no footer (perfil doguito, menu-hamburguer) */
    .profile {
        max-width: 280px;
        padding-top: 20px;
    }
    
    
    .esquerda {
        display: flex;
        flex-direction: row;
        max-width: 17px;
        max-height: 60px;
        padding-top: 50px;
    }
    
    #fotoDoguito {
        max-width: 60px;
        max-height: 60px;
        padding-right: 7px;
    }

    .profileText {
        gap: 1px;
    /*  display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 500;
        text-decoration: black; */
    }

    .profileText>h2 {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
    }

    .profileText>p {
        font-size: 16px;
    }

    .menu {
        padding-bottom:px;
        gap: 11px;
    }

    button {
        width: 52px;
        height: 52px;
        background: #696F5A;
        border-radius: 85px;
    }

    .menuEscondido {
        /* max-width: 221px; */
        
        font-size: 19px;
    }


    .shareText {
        text-align: left;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 500;
        color: white;
    }
}
