*{
    background-color: #BCCDD0;
}

.conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#fundo, #fundo img, h1, p{
    background-color: #DFDFD6;
}

.card{
    display: flex;
    /* background-color: salmon; */
    border-radius: 10px;
    width: 875px;
    height: 491.63px;
    /* border-radius: 0px 30px 30px 0px; */

}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    width: 584px;
    height: 492px;
    border-radius: 0px 30px 30px 0px;

}

.texto{
    margin-top: 25px;
}

.texto h1{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
}

.texto p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    text-align: left;
    width: 524px;
    height: 154px;
}

.user{
    width: 524px;
    height: 60px;
    background-color: red;
    display: flex;
    margin-top: 20%;
}
.user #dog{
    background-color: transparent;
    width: 60px;
    height: 60px;
}

.user #share{
    width: 52px;
    height: 52px;
    align-self: center;
    margin-left: 58.1%;
    
}

.nome-user{
    width: 96px;
    height: 60px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    font-family: Overpass;
    margin-left: 11px;
}

.nome-user #nome{
    /* background-color: blue; */
    margin-top: 0px;
    font-size: 24px;
    font-weight: 500;
    width: 87px;
    height: 30px;
}

.nome-user #data{
    margin-top: -14.6%;
    /* background-color: coral; */
    font-size: 16px;
    font-weight: 500;
    width: 96px;
    height: 20px;

}