section.container-projects{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.projects{
    flex-direction: column;
    width: 952px;
    font-family: "Be Vietnam Pro", sans-serif;
}

section.projects hr{
    border: 0; 
    height: 1px; 
    width: 952px; 
    background-color: #0065FF; 
    margin-left: 0; 
    margin-top: 0; 
    margin-bottom: 80px;
}

section.projects h2{
    font-weight: 700;
    font-size: 24px;
    color: #0065FF;
    margin-bottom: 36px;
}

section.projects p{
    width: 960px;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 36px;
    line-height: 25px;
}

section.project-item{
    display: flex;
    margin-bottom: 36px;
}

section.project-item img{
    width: 640px;
    height: 370px;
    border-radius: 10px;
    margin-right: 40px;
    border: 1px solid #0065FF;
}

section.project-text{
    display: flex;
    flex-direction: column;
}

section.project-text h4{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

section.project-text p{
    width: 280px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.84px;
    margin-bottom: 28px;
}

section.project-text button{
    width: 180px;
    height: 50px;
    border: 1px solid #0065FF;
    padding: 16px, 30px, 16px, 30px;
    border-radius: 45px;
}

section.project-text button:hover{
    border: 2px solid #0065ff;
}

section.project-text button a{
    color: #0065FF;
}

section.project-reverse {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 950px){

    section.projects hr{
        width: 310px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    section.projects{
        width: 310px;
    }

    section.projects h2{
        text-align: center;
        font-weight: 700;
        margin-bottom: 25px;
    }

    section.projects p{
        width: 310px;
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 36px;
    }

    section.project-item{
        margin-bottom: 0;
    }

    section.project-item section{
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    section.project-item img{
        width: 310px;
        height: 179px;
        border-radius: 10px;
        margin-right: 0;
        margin-bottom: 17px;
    }

    section.project-text h4{
        font-size: 17px;
        text-align: center;
        width: 310px;
    }

    section.project-text p{
        font-size: 17px;
        width: 310px;
        margin-bottom: 25px;
    }

    section.project-text button{
        width: 310px;
    }

}
  
