main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img#main-image-responsive{
    display: none;
}

main section#card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 584px;
    height: 492px;
    background-color: #DFDFD6;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

main section#card section#card-text{
    margin-top: 50px;
    width: 524px;
    height: 222px;
}

main section#card section#card-text h1{
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 36px;
}

main section#card section#card-text p{
    margin-top: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

main section#card footer{
    width: 524px;
    height: 60px;
    display: flex;

    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

main section#card footer section#profile {
    display: flex; 

}

main section#card footer section#profile section#profile-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    font-family: "Overpass";
}

section#profile-text h1{
    font-weight: 500;
    font-size: 24px;
}
section#profile-text h2{
    font-weight: 500;
    font-size: 16px;
}

main section#modal-container{
    width: 524px;
    display: flex;
    justify-content: flex-end;
}

section.visible{
    display: flex;
}

section.hidden{
    display: none;
}

main section#share{
    cursor: pointer;
}

main section#share-modal{
    background-color: #696F5A;
    width: 231px;
    height: 44px;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7px;
}

main section#share-modal p{
    font-family: 'overpass';
    font-weight: 500;
    font-size: 20px;
    color: #DFDFD6;

}

@media screen and (max-width: 950px) {
    main {
        flex-direction: column;
        /* height: 100%; */
        align-items: center;
        justify-content: center;
    }

    main img#main-image{
        display: none;
    }

    main img#main-image-responsive{
        display: flex;
    }

    main section#card{
        width: 350px;
        height: 70vh;

        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    main section#card section#card-text{
        width: 290px;
    }

    main section#card footer, main section#modal-container{
        width: 290px;
    }

    main section#share-modal{
        margin-bottom: 17px;
    }
}
