#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  width: 800px;

}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn_home{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 15px;
  color: white;
  text-align: center;
  border: 5px solid ;
  background-color: rgba(255, 255, 255, 0.176);
  font-size: 20px ;
  text-transform: none;
}

.div_texto{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.texto_sorteio{
  width: 400px;
  border-radius: 25px;
  border: 5px solid;
  background-color: rgba(255, 255, 255, 0.176);
  text-align:left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 400px;
  padding-bottom: 400px;
  font-size: 20px;
  color: white;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 25px;
}

.btn_sortear{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 15px;
  color: white;
  text-align: center;
  border: 5px solid ;
  background-color: rgba(158, 205, 245, 0.862);
  font-size: 20px ;
}

.respostas{
  font-size: 16px;
  text-align: center;
  text-transform: none;
  padding: 20px;
  color: rgb(142, 186, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.respostas h4{
    width: 100ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(100), blinking 0.50s infinite step-end alternate;
}

.go_home{
  margin-top: 10px;
}



/*-----------*/
@keyframes typing{
  from {
      width: 0;
  }
}

@keyframes blinking{
  50%{
      border-color: transparent;
  }
}