header.game-header{
    display: flex;
    justify-content: space-around;
    top: 0;
    text-align: center;
    height: 10vh;
    width: 100vw;
    background-color: var(--color-second);
    align-items: center;
    border-bottom: 8px solid var(--color-third);
}

header.game-header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #fff;
  font-weight: 700;
  font-size: 30px;
  color: var(--first-color);
  transition: 200ms ease-in-out;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC") 14 0, pointer;
}

header.game-header p{
    text-shadow: 1px 1px #fff;
}

header.game-header h1:hover{
  text-shadow: 1px 1px #fff;

}

header.game-header img{
    width: 50px;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC") 14 0, pointer;
}

.jogo-container {
    text-align: center;
  }
  
  .pontos-container {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
  }
  
  .forca-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem-forca {
    width: 300px; 
    height: auto;
  }
  
  .game-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .letter-box {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid #0A3871;
    border-radius: 2px;
  }
  
  .resultado-final {
    text-align: center;
    margin-top: 20px;
  }
  
  .resultado-final p {
    font-size: 20px;
    margin-bottom: 20px;
  }

@media screen and (max-width: 950px){
    .main-content{
        flex-direction: column;
    }

    .keyboard{
        width: 90%;
    }

    header.game-header{
      flex-direction: column;
    }

    header.game-header img{
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 0;
      margin-left: 7px;
      margin-top: 10px;
      width: 35px;
    }

    header.game-header h1{
      font-size: 15px;
    }

    header.game-header p{
      font-size: 10px;
    }
}
  