@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #BCCDD0;
}

section{
    display: flex;
    flex-direction: row;
}

div#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 584px;
    height: 492px;
    background: #DFDFD6;
    border-radius: 0px 30px 30px 0px;
}

div#text{
    display: flex;
    flex-direction: column;
    padding: 50px 30px 0px 30px;
}

div#footer{
    display: flex;
    flex-direction: column;
    padding: 0px 30px 41px 30px;
}

div#menu, div#bot{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div#dog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
}

div#row{
    display: flex;
    flex-direction: row;
}

h1{
    margin-bottom: 32px;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #111313;
}

h2{
    color: #111313;
    font-family: 'Overpass';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

h3{
    font-family: 'Overpass';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 0px 0px;
}

img#doguito{
    margin-right: 11px;
}

menu{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 231.02px;
    height: 44px;
    background: #696F5A;
    border-radius: 15px;
}

menu>h3{
    font-family: 'Overpass';
    color: #DFDFD6;
    font-size: 20px;
    line-height: 25px;
    width: 84px;
    height: 21px;
    text-align: center;
}

@media only screen and (max-width: 875px){
    section{
        display: flex;
        flex-direction: column;
    }
    div#main{
        width: 350px;
        height: 548px;
        border-radius: 0px 0px 30px 30px;
    }
    div#text{
        padding: 25px 30px 0px 30px;
        
    }
    div#footer{
        padding: 0px 30px 25px 30px;
    }
    picture{
        height: 202px;
    }
    h1{
        margin-bottom: 10px;
    }
    menu{
        width: 221px;
        height: 34px;
    }
}