.App {
  text-align: center;
}

.flexer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  width: 66.8%;
  text-align: left;
}

.break{
  height: 1px;
}