:root {
  --background-color: #FFF;
  --nav-color: #FFF;
  --font-color: #202020;
  --font-color-emphasis: #0065FF;
}

[data-theme="dark"] {
  --backgrund-color: #222222;
  --nav-color: #3C3B3A;
  --font-color: #FAF4E6;
  --font-color-emphasis: #FAF4E6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}