:root{
    --blue: #0065FF;
}

.big-color, .title, .colored{
    color: var(--blue);
}

.fill{
    fill: var(--blue);
}

.break{
    background-color: var(--blue);
}

.border{
    border: 1px solid var(--blue);
}