.Footer{
    
    background-color: var(--bgColorHeader);
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2Footer{
    font-size: 24px;
    color: var(--h2FooterColor);
}

.meet{
    display: flex;
    gap: 16px;
}