@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-card: #dc97ff;
  --background-header: #5a108f;
  --titulo-autor: #5a108f;
  --preview-data: #;
  font-family: "Nunito", sans-serif;
  --swiper-navigation-color: #8b2fc9;
  --swiper-pagination-color: #8b2fc9;

}
