:root {
  --section-side-padding: 16.66666667vw;
}

img {
  max-width: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(50px + var(--main-menu-height)) var(--section-side-padding) 40px;
  row-gap: 80px;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 17px;
  hr {
    height: 1px;
    width: 192px;
    background-color: var(--special-text-color);
  }
  &.mobile {
    align-items: center;
    text-align: center;
    row-gap: 50px;
  }
}

.hero-header {
  color: var(--special-text-color);
  h1 {
    font-size: 70px;
    margin: 0;
    padding-top: 40px;
  }
  img {
    height: 100px;
    width: 100px;
    filter: drop-shadow(var(--box-shadow));
  }
}

.hero-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  row-gap: 40px;
}

.call-out {
  display: flex;
  column-gap: 10px;
  background-color: var(--cta-background);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  svg {
    flex-shrink: 0;
  }
  &.mobile {
    align-self: center;
  }
  &.dark {
    background-color: var(--dark-fill);
  }
}

#long-hr {
  height: 1px;
  width: 66vw;
}
