body {
    background: linear-gradient(to bottom, #965A1B 0%, #965A1B 374px, #E5CF94 374px, #E5CF94 100%);
    min-height: 100vh;
    margin-left: 343px;
    margin-right: 343px;
}


footer{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 80px 0;
}

@media screen and (max-width: 1100px){
    body {
        margin-left: 25px;
        margin-right: 25px;
    }
}
