.page-cadastro{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.texto-cadastro{
    margin-top: 20px;
}

.info-cadastro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 260px;
}

.cadastro-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}

.cadastro-geral form{
    display: flex;
    flex-direction: column;
}

.cadastro-geral form input{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    margin: 2px;
    border: 0; 
}

input:focus{
    outline: 0;
}

.botoes-cadastro{
    align-self: flex-end;
}

.cadastro-geral form button{
    margin: 10px;
    height: 40px;
    width: 80px;
    align-self: flex-end;
    border-radius: 5px;
    border: 0;
}

button:hover{
    cursor: pointer;
    background-color: #ecccec;
}


@media (max-width: 450px) {
    .cadastro-geral form input{
        width: 200px;
    }
}