/* body{
    overflow: hidden;
} */

section.mobile-container{
    display: none;
}


@media screen and (max-width: 950px){
    section.mobile-container{
        display: flex;
        flex-direction: column;
    }

    section.mobile-container img.burguer-menu{
        display: flex;
        justify-content: start;
        align-items: start;
        margin: 25px;
        width: 30px;
    }

    section.mobile-container img{
        cursor: pointer;
    }

    section.mobile-container nav.section-bar-mobile{
        height: 160px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    section.mobile-container nav.section-bar-mobile ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;


    }

    section.mobile-container nav ul li a{
        text-decoration: none;
        /* margin-right: 20px; */

        font-weight: 400;
        font-size: 14px;
        color: #0065FF;
    }

    section.mobile-container nav.social-bar-mobile{
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    section.mobile-container nav.social-bar-mobile ul{
        width: 250px;
        /* align-items: center; */
        justify-content: space-around;
    }

    section.mobile-container .disabled{
        display: none;
    }

    section.mobile-container nav.section-bar-mobile.disabled, section.mobile-container nav.social-bar-mobile.disabled{
        display: none;
    }
}


