.historicoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.historicoBotao {
    margin: 0 auto;
    width: 10rem;
    height: 2rem;
    background-color: #E5CF94;
    color: #634527; 
    border: 2px solid #634527 ;
    border-radius: 6px;
    cursor: pointer;
}

.historicoBotao:hover {
    background-color: #634527; 
    color: #E5CF94;
}

.historicoCard {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 56rem;
    height: auto; 
    background-color: #EAE0D5; 
    padding: 15px; 
    margin: 10px auto; 
    color: #3E2723; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.historicoInfo {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
}

@media screen and (max-width: 768px) {
    .historicoCard {
        width: 35rem;
    }
}

@media screen and (max-width: 468px) {
    .historicoContainer {
        margin-left: 0;
        margin-right: 0;
    }

    .historicoCard {
        width: 18rem;
        padding: 15px;
    }

    .historicoInfo {
        gap: 5px;
    }
}
