.full-line {
    min-height: 0.1rem;
    width: 100%;
    background-color: var(--primary-color);
    margin: 5rem 0;
}

.main-content-s2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-content: flex-start;
    max-height: 100vh;
    padding: 2rem;
    max-width: 89rem;
}

.main-content-s2 p {
    margin: 2rem 0;
}

.main-content-s2 article {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    max-width: 100%;
}

.main-content-s2 article img {
    max-height: 50rem;
}

.article-2 {  
    flex-direction: row-reverse; 
}

@media (max-width: 900px) {
    .main-content-s2 {
        align-items: center;
    }
 
    .main-content-s2 article {
        flex-direction: column;
    }
}
